<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="align=center">
    <form id="m_3146120702076068242form1" target="_blank" style="margin: 0 auto; display: table;">
        <table class="m_3146120702076068242body">
            <tbody>
                <tr>
                    <td class="m_3146120702076068242center" align="center" valign="top">
                        <center>
                            <table width="100%">
                                <tbody>
                                    <tr style="border-bottom:1px solid #ccc">
                                        <td class="m_3146120702076068242center" align="center" colspan="3">
                                            <center>
                                                <table class="m_3146120702076068242row m_3146120702076068242twelve m_3146120702076068242columns">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <center> <img src="https://ci6.googleusercontent.com/proxy/RAvACb2uJuw2RLLSXKaVwL8HfKs5xepnf_NoTQ4W32gtB0zvFbz2R-kDZLyCzogZrK-vDOAlAG_lELclPhZ-MYZboJMuKnPntQ3lpWACzy6C3JylyCT2oQ=s0-d-e1-ft#https://tangs-uat-cdn.ascentismedia.com/SharedImages/website/logo.jpg" style="min-width:200px;float:none;display:inline-block" class="CToWUd"> </center>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </center>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <ul class="m_3146120702076068242menu" style="list-style-type:none;font-family:'Raleway',sans-serif;font-size:16px;padding-left:0;text-align:center;font-weight:700">
                                                <li style="display:inline-block;color:#f36e21">
                                                    <a href="#m_3146120702076068242_" style="text-decoration:none;color:#1d1f22">SALE</a>
                                                </li>
                                                <li style="display:inline-block;color:#f36e21">
                                                    <a href="#m_3146120702076068242_" style="text-decoration:none;color:#1d1f22">WOMEN</a>
                                                </li>
                                                <li style="display:inline-block;color:#f36e21">
                                                    <a href="#m_3146120702076068242_" style="text-decoration:none;color:#1d1f22">MEN</a>
                                                </li>
                                                <li style="display:inline-block;color:#f36e21">
                                                    <a href="#m_3146120702076068242_" style="text-decoration:none;color:#1d1f22">BEAUTY</a>
                                                </li>
                                                <li style="display:inline-block;color:#f36e21">
                                                    <a href="#m_3146120702076068242_" style="text-decoration:none;color:#1d1f22">HOME</a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                            <hr style="margin:0">
                            <table class="m_3146120702076068242container">
                                <tbody>
                                    <tr>
                                        <td>
                                            <table class="m_3146120702076068242row">
                                                <tbody>
                                                    <tr>
                                                        <td class="m_3146120702076068242wrapper m_3146120702076068242last">
                                                            <table border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" class="m_3146120702076068242twelve m_3146120702076068242columns" width="600px;">
                                                                <tbody style="font-family:Helvetica,Arial,sans-serif">
                                                                    <tr>
                                                                        <td valign="middle" align="center" style="text-align:center"> Thank&nbsp;You!&nbsp;Order&nbsp;#2202180016&nbsp;<wbr>is&nbsp;confirmed.&nbsp; </td>
                                                                        <td valign="middle" align="center" style="text-align:center"> </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:2% 0 0 2%;font-size:13px;line-height:150%;color:#222222;font-weight:300" class="m_3146120702076068242panel">
                                                                            <p><strong>Order Number:</strong>&nbsp;2202180016</p>
                                                                            <p><strong>Date Ordered:</strong>&nbsp;18 Feb 2022, Friday</p>
                                                                            <p><strong>Customer Name:</strong>&nbsp;Dao</p>
                                                                            <p><strong>Contact No:</strong>&nbsp;+6587678988</p>
                                                                            <p><strong>Contact Email:</strong>&nbsp;<a href="mailto:taduydao2k@gmail.com" target="_blank">taduydao2k@gmail.com</a></p>

                                                                            <p>Appreciate your kind understanding if you encounter delay of your order.<br>Our drivers are in the utmost effort to deliver the order to you as per the date selected.<br>Sincere apologies if there is any inconvenience caused.</p>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:0% 0 0 2%;font-size:13px;line-height:150%;color:#222222;font-weight:300">
                                                                            <p><strong>Fulfillment by:</strong>&nbsp;TANGS</p>
                                                                            <p> <strong>Delivery</strong><br>10am - 1pm<br>123abc<br>SG&nbsp;12345<br> </p>
                                                                            <p><strong>Delivery Date</strong><br>20 Feb 2022, Sunday</p>
                                                                            <table cellspacing="2" cellpadding="0" border="0" width="100%" style="border-bottom:1px solid #aaa">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th valign="top" align="left" style="background-color:#eee;width:20%!important;padding:10px 10px"><b>Product</b></th>
                                                                                        <th valign="top" align="left" style="background-color:#eee;width:40%!important;padding:10px 10px"><b>Description</b></th>
                                                                                        <th valign="top" align="left" style="background-color:#eee;padding:10px 10px;text-align:center"><b>Quantity</b></th>
                                                                                        <th valign="top" align="right" style="text-align:right;background-color:#eee;padding:10px 10px"><b>Price</b></th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 10px"> <img src=cid:imgpath style="width:82px;height:108px;border:1px solid #aaa" alt="The History of Whoo Gongjinhyang: Mi Luxury Lipstick 13 Pink Beige 3.5g" class="CToWUd"></td>
                                                                                        <td valign="top" align="left" style="padding:10px 10px">
                                                                                            <span>UPC: 8801051972795</span><br><span>SKU: 6070226</span><br><span>The History of Whoo Gongjinhyang: Mi Luxury Lipstick 13 Pink Beige 3.5g</span><br><ul><li><span>Gongjinhyang: Mi Luxury Lipstick: 13 Pink Beige</span></li></ul>
                                                                                        </td>
                                                                                        <td valign="top" align="left" style="padding:10px 10px;text-align:center">2</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:10px 10px">S$116.00</td>
                                                                                        <td style="display:none">&nbsp;</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                            <br>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding:2% 0 0 2%;line-height:150%;color:#222222" align="left">
                                                                            <table cellspacing="2" cellpadding="0" border="0" width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Total Price</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0">S$116.00</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Discount Code</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Discount</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0">S$0.00</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Handling Fee</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0">S$0.00</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Delivery Fee</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0">S$12.00</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Total</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0">S$128.00</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td valign="top" align="left" style="padding:10px 0;text-align:right;width:70%;font-weight:bold!important">Tax Amount</td>
                                                                                        <td valign="top" align="right" style="text-align:right;padding:9px 10px 0 0">S$8.38</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>